/* Style the breadcrumb list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgb(255, 255, 255);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (>) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 10px;
  color: rgb(48, 5, 38);
  content: ">\00a0";
}

.breadcrumb {
  padding-left: 50px;
}


.media img,
.carousel-item img {

  border-radius: 10px;
}

#myImgBig {
  border-radius: 10px;
  width: 100%;
}

#myImg {
  border-radius: 10px;
  float: left;
  width: 100%;

}

div.LinkToNextArticle {
  text-align: right;
}

.regPagePic {
  width: 70%;
  ;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  letter-spacing: 3px;
  padding-left: 10px;
  color: rgba(37, 74, 131, 0.986);
}

h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 35px;
  letter-spacing: 3px;
  padding-left: 15px;

}

.card-title {
  letter-spacing: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: rgba(56, 55, 55, 0.986);
}

h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 20px;
  letter-spacing: 2px;
  color: rgb(20, 20, 20);
}

h6+span {
  color: rgba(56, 55, 55, 0.986);
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


span {
  font-size: 14px;
  color: gray;
}

.navbar-brand {
top: 10px;
  width: 20%;
  position: relative;
  float: right;
}

.navbar-nav {
  display: inline;
 
}

ul .navbar-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

.nav-link:not(.tab) {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-color: darkgrey;

}

/*tab navigÄcija*/
.tab {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-color: darkgrey;

}


.nav-link :hover {
  text-decoration: none;
  color: rgb(52, 52, 53);
 
}

.readAll {
  color: rgb(4, 85, 161);
  font-size: 12px;
}



.footer {
  padding-left: 200px;
  padding-top: 30px;
  text-align: left;
  background: white;
  position: relative;
  bottom: 20px;
  height: 30px;


}

#footerelement {
  font-size: 12px;
  color: rgb(26, 29, 29);

}

.column img:hover {
  opacity: 1;
}

.mr-3 {

  height: 90px;
  width: 90px;
}


.media-body :hover {
  text-decoration: none;

}

a span {
  text-align: left;
}

.forth {
  text-align: right;
}

.padding-Left {
  padding-left: 15px;
}


/* modal */
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.row>.column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 80%;
  height: 90%;
  overflow: auto;
  background-color: black;

}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 1200px;

}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: 0;
  color: white;

  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(94, 91, 91, 0.815);

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: 10px;
  border-radius: 10px;

}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-message {
  border: solid gray 1px;
  border-radius: 10px;
  padding: 10px;
}

.chat-message h6 em {
  font-size: 10px;
  color: gray;
}

.chat-message p {
  font-size: 14px;
  color: navy;
}

div .col-sm-8 {
  border-radius: 10px;
  padding: 20px;
  position: relative;
  float: left;
  width: 100%;

}

.chat-message-form {
  position: relative;
  float: left;

}